<div class="flex flex-col gap-2 my-32">
    <div class="text-center">
        <form>
            <select id="prof_filter" class="border border-gray-300 rounded-lg p-2 text-center">
                <option value="">Filtre par profondeur</option>
            </select>
        </form>
    </div>

    <h1 class="text-center text-2xl font-bold mb-6 text-white">Tables MN90</h1>
    <div class="overflow-x-auto w-max rounded-lg">
        <table id="tablemn60" class="table bg-gray-100">
            <thead class="text-white">
                <tr class="text-center">
                    <th class="border-b border-gray-300 py-2 px-4">Prof</th>
                    <th class="border-b border-gray-300 py-2 px-4">Temps</th>
                    <th class="border-b border-gray-300 py-2 px-4">M15</th>
                    <th class="border-b border-gray-300 py-2 px-4">M12</th>
                    <th class="border-b border-gray-300 py-2 px-4">M9</th>
                    <th class="border-b border-gray-300 py-2 px-4">M6</th>
                    <th class="border-b border-gray-300 py-2 px-4">M3</th>
                    <th class="border-b border-gray-300 py-2 px-4">DTR</th>
                    <th class="border-b border-gray-300 py-2 px-4">GPS</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>