<nav class="fixed top-0 left-0 right-0 bg-gradient-to-b from-gray-900 to-transparent" style="z-index: 100;">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <a href="index.html">
            <img
                src="img/Souslocean.ico"
                alt="Souslocean Icon"
                class="h-32 w-32"
            />
        </a>
        <ul class="flex justify-end items-center py-4 gap-4">
            <a
                href="dashbord.html"
                class="text-white hover:text-blue-300 transition duration-300 ease-in-out"
                >On plonge !</a
            >
            <a id="login_user" href="login.html">
                <button
                    class="bg-white hover:text-blue-600 text-black font-bold py-2 px-4 rounded transform hover:scale-110 transition duration-300 ease-in-out"
                >
                    Connexion
                </button>
            </a>
            <button
                id="logout_user"
                class="hidden bg-white hover:text-blue-600 text-black font-bold py-2 px-4 rounded transform hover:scale-110 transition duration-300 ease-in-out"
            >
            </button>
        </ul>
    </div>
</nav>
